<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="REALTIME" class="org.swpu.backend.modules.realtimelog.support.RealtimeLogAppender" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="REALTIME" />
    </root>
</configuration>
